$enable-gradients: true;
$enable-shadows: true;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.btn.no-underline {
  text-decoration: none !important;
}

.GMap__Wrapper {
  width: 100%;
  height: 75%;
}

.rotate360 {
  transition: transform .3s ease-in-out;
}
.rotate360:hover {
  transform: rotate(360deg);
}

.TsuenWan {
  background: url('@/static/bg-img/tsuen-wan.png');
}

.ShamShuiPo {
  background: url('@/static/bg-img/sham-shui-po.png');
}

.WanChai {
  background: url('@/static/bg-img/wan-chai.png');
}

.ShaTin {
  background: url('@/static/bg-img/sha-tin.png');
}

.WongTaiSin {
  background: url('@/static/bg-img/wong-tai-sin.png');
}

.KwunTong {
  background: url('@/static/bg-img/kwun-tong.png');
}

.TuenMun {
  background: url('@/static/bg-img/tuen-mun.png');
}

.YuenLong {
  background: url('@/static/bg-img/yuen-long.png');
}

.TaiPo {
  background: url('@/static/bg-img/tai-po.png');
}

.YauTsimMong {
  background: url('@/static/bg-img/yau-tsim-mong.png');
}

.KowloonCity {
  background: url('@/static/bg-img/kowloon-city.png');
}

.KwaiTsing {
  background: url('@/static/bg-img/kwai-tsing.png');
}

.CentralWestern {
  background: url('@/static/bg-img/central-western.png');
}

.Eastern {
  background: url('@/static/bg-img/eastern.png');
}

.Islands {
  background: url('@/static/bg-img/islands.png');
}

.Northern {
  background: url('@/static/bg-img/northern.png');
}

.SaiKung {
  background: url('@/static/bg-img/sai-kung.png');
}

.Southern {
  background: url('@/static/bg-img/southern.png');
}

.card-body {
  background-size: 30%;
  background-position-x: 96%;
  background-position-y: 96%;
  background-repeat: no-repeat;
}

.bg-gradient-primary {
  background: #d4e0ec linear-gradient(180deg, #2f4f75, #2e7cd0) repeat-x !important;
}