<template>
  <div class="container">
    <div>
      <b-overlay :show="isLoading" rounded="sm">
        <div class="row mt-3">
          <div class="col-sm-12">
            <b-alert variant="success" show>
              <div class="h4 mb-0">可用車位總數: {{ tableTotalRows }}</div>
            </b-alert>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-9">
            <b-button-group>
              <b-button
                variant="primary"
                @click="presentDataMethod(showDataInGrid)"
                >Grid
              </b-button>
              <b-button
                variant="success"
                @click="presentDataMethod(showDataInTable)"
                >Table
              </b-button>
              <b-button
                v-if="isGMapReady"
                variant="warning"
                @click="presentDataMethod(showDataInGMap)"
                >Google Map
              </b-button>
            </b-button-group>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-end">
              <b-link href="#" @click="refreshData()"
                ><img :src="refreshDtaImgSrc" class="rotate360"
              /></b-link>
            </div>
          </div>
        </div>
        <div v-if="showDataIn !== showDataInGMap" class="row mb-3">
          <div class="col-sm-12 col-md-6 mb-3">
            <b-form-select
              v-model="selectedRegion"
              :options="regionSelectOption"
            ></b-form-select>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <b-form-select
              v-model="selectedDistrict"
              :options="districtSelectOption"
            ></b-form-select>
          </div>
        </div>

        <div
          v-if="showDataIn === showDataInGMap && isGMapReady"
          class="row mb-3"
        >
          <div class="col-12">
            <GMap
              ref="gMap"
              language="en"
              :cluster="{ options: { styles: clusterStyle } }"
              :center="hkCenterCoordinate"
              :options="{
                fullscreenControl: true,
                gestureHandling: 'greedy',
                clickableIcons: false,
                zoomControl: false,
                scaleControl: true
              }"
              :zoom="12"
              class="vh-100"
            >
              <GMapMarker
                v-for="coordinate in occupancyMetersCoordinates"
                :key="coordinate.id"
                :options="{
                  icon:
                    location === currentLocation
                      ? pins.selected
                      : pins.notSelected
                }"
                :position="{
                  lat: coordinate.Latitude,
                  lng: coordinate.Longitude
                }"
                @click="currentLocation = coordinate"
              >
                <GMapInfoWindow :options="{ maxWidth: 250 }">
                  <code>
                    {{ `${coordinate.SubDistrict_tc} ${coordinate.Street_tc}` }}
                    <br />
                    {{ `最長泊車時間: ${coordinate.LPP}分鍾` }} <br />
                    {{ `(${coordinate.OccupancyDateChanged})` }}
                  </code>
                </GMapInfoWindow>
              </GMapMarker>
              <!-- <GMapCircle :options="circleOptions" /> -->
            </GMap>
          </div>
        </div>

        <div v-if="showDataIn === showDataInGrid" class="row mb-3">
          <div
            v-infinite-scroll="loadMore"
            infinite-scroll-disabled="busy"
            infinite-scroll-distance="10"
            infinite-scroll-immediate-check="true"
            class="w-100 d-flex flex-wrap"
          >
            <div
              v-for="(meter, index) in incrmentalList"
              :key="index"
              class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
            >
              <b-card
                no-body
                :header="`錶位編號: ${meter.ParkingSpaceId}`"
                header-tag="header"
                header-bg-variant="gradient-primary"
                header-text-variant="white"
                footer-tag="footer"
                footer-bg-variant="gradient-secondary"
                footer-text-variant="white"
              >
                <b-card-body :class="meter.District">
                  <b-card-title>{{
                    `${meter.Region_tc} ${meter.District_tc}`
                  }}</b-card-title>
                  <b-card-text>
                    <div class="h5">
                      {{ meter.SubDistrict_tc }}
                      {{ meter.Street_tc }}
                    </div>
                  </b-card-text>
                  <div>
                    <b-link
                      :href="meter.GoogleMap"
                      target="_blank"
                      class="btn btn-link no-underline px-0"
                      ><div class="h5 mb-0">
                        <img :src="letsGoImgSrc" class="pb-1" />
                      </div>
                    </b-link>
                  </div>
                </b-card-body>

                <template #footer>
                  <em> {{ `最長泊車時間: ${meter.LPP} 分鐘` }}</em>
                  <br />
                  <span class="font-italic" style="font-size: 0.8em">{{
                    `更新時間: ${meter.OccupancyDateChanged}`
                  }}</span>
                </template>
              </b-card>
            </div>
          </div>
        </div>

        <div
          v-if="showDataIn === showDataInTable"
          class="row mt-3 justify-content-end"
        >
          <div class="col-12 col-sm-6 col-md-4">
            <b-pagination
              v-model="currentPage"
              :total-rows="tableTotalRows"
              :current-page="currentPage"
              :per-page="perPage"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </div>
        </div>
        <div v-if="showDataIn === showDataInTable" class="row mb-3">
          <div class="col-sm-12">
            <b-table
              striped
              hover
              :items="filterResultList"
              :fields="fields"
              :fixed="true"
              :current-page="currentPage"
              :per-page="perPage"
            >
              <template #cell(GoogleMap)="row">
                <b-link
                  :href="row.item.GoogleMap"
                  target="_blank"
                  class="btn btn-link no-underline"
                  ><div class="h5 mb-0">
                    <img :src="letsGoImgSrc" class="pb-1" />
                  </div>
                </b-link>
              </template>
              <template #cell(LPP)="row">
                <span style="font-size: 1em"> {{ row.item.LPP }}</span>
                <br />
                <span class="font-italic text-break" style="font-size: 0.8em">{{
                  `(更新時間: ${row.item.OccupancyDateChanged})`
                }}</span>
              </template>
            </b-table>
          </div>
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
const CSV_TO_JSON = require('csvtojson')

const SHOW_DATA_IN_TABLE = 'table'
const SHOW_DATA_IN_GRID = 'grid'
const SHOW_DATA_IN_GMAP = 'gmap'
const DEFAULT_SHOW_DATA_IN = 'grid'

const VEHICLE_TYPE_BUS = 'C'
const AVAILABLE_PARKING_METER = 'O'
const AVAILABLE_OCCUPANCY_STATUS = 'V'

const ALL_REGION_JSON = `[{"text":"請選擇地區","value":""},{"text":"香港島","value":"HongKong"},{"text":"九龍","value":"Kowloon"},{"text":"新界","value":"NewTerritories"}]`
const ALL_DISTRICT_JSON = `[{"text":"請選擇地區","value":"","region":""},{"text":"南區","value":"Southern","region":"HongKong"},{"text":"深水埗","value":"ShamShuiPo","region":"Kowloon"},{"text":"灣仔","value":"WanChai","region":"HongKong"},{"text":"沙田","value":"ShaTin","region":"NewTerritories"},{"text":"黃大仙","value":"WongTaiSin","region":"Kowloon"},{"text":"觀塘","value":"KwunTong","region":"Kowloon"},{"text":"九龍城","value":"KowloonCity","region":"Kowloon"},{"text":"東區","value":"Eastern","region":"HongKong"},{"text":"中西區","value":"CentralWestern","region":"HongKong"},{"text":"荃灣","value":"TsuenWan","region":"NewTerritories"},{"text":"葵青","value":"KwaiTsing","region":"NewTerritories"},{"text":"離島","value":"Islands","region":"NewTerritories"},{"text":"屯門","value":"TuenMun","region":"NewTerritories"},{"text":"元朗","value":"YuenLong","region":"NewTerritories"},{"text":"北區","value":"Northern","region":"NewTerritories"},{"text":"大埔","value":"TaiPo","region":"NewTerritories"},{"text":"西貢","value":"SaiKung","region":"NewTerritories"},{"text":"油尖旺","value":"YauTsimMong","region":"Kowloon"}]`

export default {
  data() {
    return {
      busy: false,
      incrmentalPage: 1,
      incrmentalItemSize: 15,
      incrmentalList: [],

      // Gmaps section
      isGMapReady: false,
      // currentLocation: {},
      circleOptions: {},
      occupancyMetersCoordinates: [],
      hkCenterCoordinate: {
        lat: 22.3526632,
        lng: 114.0576532
      },
      clusterStyle: [
        {
          url: require('@/static/cluster-52.png'),
          width: 53,
          height: 52,
          textColor: 'white'
        }
      ],

      // Common variables
      isLoading: true,

      showDataIn: DEFAULT_SHOW_DATA_IN,
      showDataInGrid: SHOW_DATA_IN_GRID,
      showDataInGMap: SHOW_DATA_IN_GMAP,
      showDataInTable: SHOW_DATA_IN_TABLE,

      // Raw data section
      allMetersCsv: '',
      filteredHeaderAllCsv: '',
      allMetersMap: [],

      occupancyMetersCsv: '',
      filteredOccupancyMetersCsv: '',
      occupancyMetersMap: [],

      finalOccupancyMetersList: [],
      totalOccupancyMeters: 0,

      // Selection box
      selectedRegion: '',
      regionSelectOption: [],

      districtMap: [],
      selectedDistrict: '',
      districtSelectOption: [],

      // Result table Section
      fields: [
        { key: 'Region_tc', label: '區', sortable: true },
        { key: 'District_tc', label: '區 2', sortable: true },
        // { key: 'SubDistrict_tc', label: '區 3', sortable: true },
        { key: 'Street_tc', label: '街', sortable: true },
        // { key: 'SectionOfStreet_tc', label: '街 2', sortable: true },
        { key: 'GoogleMap', label: '位置', sortable: true },
        { key: 'LPP', label: 'LPP', sortable: true }
      ],
      filterResultList: [],
      tableTotalRows: 1,
      currentPage: 1,
      perPage: 50,

      pins: {
        selected: require('@/static/small-available.png'),
        notSelected: require('@/static/small-nonavailable.png')
      },

      // Card Section
      letsGoImgSrc: require('@/static/map-go.png'),

      refreshDtaImgSrc: require('@/static/refresh.png')
    }
  },
  async fetch() {
    await this.refreshData()
  },

  watch: {
    selectedRegion: 'filterDistrict',
    selectedDistrict: 'filterAndShowResult'
  },

  methods: {
    resetData() {
      this.allMetersCsv = ''
      this.filteredHeaderAllCsv = ''
      this.allMetersMap = new Map()

      this.occupancyMetersCsv = ''
      this.filteredOccupancyMetersCsv = ''
      this.occupancyMetersMap = []

      this.finalOccupancyMetersList = []
      this.totalOccupancyMeters = 0
      this.occupancyMetersCoordinates = []

      this.regionSelectOption = []
      this.districtSelectOption = []

      this.filterResultList = []
      this.incrmentalList = []
    },
    async refreshData() {
      const startTs = new Date().getTime()
      console.log('Fetching data from resource.data.one.gov.hk')

      this.isLoading = true
      this.resetData()

      const allMetersResp = await this.$axios.get(
        'https://resource.data.one.gov.hk/td/psiparkingspaces/spaceinfo/parkingspaces.csv'
      )
      this.allMetersCsv = allMetersResp.data

      console.log('invoking fetch()')
      const occupancyMetersResp = await this.$axios.get(
        'https://resource.data.one.gov.hk/td/psiparkingspaces/occupancystatus/occupancystatus.csv'
      )
      this.occupancyMetersCsv = occupancyMetersResp.data

      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
      this.initData()
    },
    async initData() {
      const startTs = new Date().getTime()
      console.log('invoking initData()')

      this.populateRegion()
      this.populateDistrict()

      this.filterAllMetersCsvUselessInfo()

      await this.transformOccupancyMetersCsv2Json()
      await this.transformAllMetersCsv2Json()
      await this.joinOccupancyMetersInfo()

      this.populateAllOccupancyMetersCoordinates()
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    toggleLoading(toggle) {
      // console.log(`toggleLoading => ${toggle}`)
      this.isLoading = toggle
    },
    presentDataMethod(method) {
      this.showDataIn = method
    },
    filterAllMetersCsvUselessInfo() {
      const startTs = new Date().getTime()
      console.log('invoking filterAllMetersCsvUselessInfo()')

      // trim useless header
      const csvLines = this.allMetersCsv.split(/\r?\n/)
      csvLines.forEach((eachLine, idx) => {
        if (idx > 1) {
          this.filteredHeaderAllCsv += `${eachLine}\n`
        }
      })
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    async transformOccupancyMetersCsv2Json() {
      const startTs = new Date().getTime()
      console.log('invoking transformOccupancyMetersCsv2Json()')

      this.occupancyMetersMap = new Map()
      // filter available meter and transform to JSON
      await CSV_TO_JSON({ noheader: false })
        .fromString(this.occupancyMetersCsv)
        .subscribe((jsonObj) => {
          if (
            jsonObj.ParkingMeterStatus === AVAILABLE_PARKING_METER &&
            jsonObj.OccupancyStatus === AVAILABLE_OCCUPANCY_STATUS
          ) {
            this.occupancyMetersMap.set(jsonObj.ParkingSpaceId, jsonObj)
          }
        })
      // console.log(this.occupancyMetersMap)
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    async transformAllMetersCsv2Json() {
      const startTs = new Date().getTime()
      console.log('invoking transformAllMetersCsv2Json()')

      this.allMetersMap = new Map()

      await CSV_TO_JSON({ noheader: false })
        .fromString(this.filteredHeaderAllCsv)
        .subscribe((jsonObj) => {
          if (
            jsonObj.VehicleType !== VEHICLE_TYPE_BUS &&
            // Filter Internal Test Data
            !jsonObj.SubDistrict.includes('Internal Test') &&
            // Filter Invalid Macau Coordinate
            !jsonObj.Latitude.includes('22.158985') &&
            !jsonObj.Longitude.includes('113.562521')
          ) {
            this.allMetersMap.set(jsonObj.ParkingSpaceId, jsonObj)
          }
        })
      // console.log(this.allMetersMap)
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    joinOccupancyMetersInfo() {
      const startTs = new Date().getTime()
      console.log('invoking joinOccupancyMetersInfo()')
      // console.log(this.allMetersMap)
      // console.log(this.occupancyMetersMap)

      let jsonObj2Merged = {}
      Array.from(this.occupancyMetersMap.entries()).forEach(
        ([key, jsonObj]) => {
          const innerJsonObj = this.allMetersMap.get(key)
          if (innerJsonObj !== undefined) {
            jsonObj2Merged = {
              ...innerJsonObj,
              ...{
                OccupancyDateChanged: jsonObj.OccupancyDateChanged
              }
            }
            this.finalOccupancyMetersList.push(jsonObj2Merged)
          }
        }
      )

      console.log(
        `Total available parking meter(s): ${this.finalOccupancyMetersList.length}`
      )
      this.totalOccupancyMeters = this.finalOccupancyMetersList.length

      console.info('Result sorting')
      this.finalOccupancyMetersList.sort((compA, compB) => {
        if (
          compA.LPP > compB.LPP
          // && compA.Region === compB.Region
          // && compA.District === compB.District
        ) {
          return 1
        }

        if (
          compA.LPP < compB.LPP
          // && compA.Region === compB.Region
          // && compA.District === compB.District
        ) {
          return -1
        }

        return 0
      })
      console.info('Result sorted')
      // console.info(this.finalOccupancyMetersList)

      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
      this.filterAndShowResult()
    },
    populateAllOccupancyMetersCoordinates() {
      const startTs = new Date().getTime()
      console.log('invoking populateAllOccupancyMetersCoordinates')
      this.finalOccupancyMetersList.forEach((jsonObj) => {
        this.occupancyMetersCoordinates.push({
          Latitude: jsonObj.Latitude,
          Longitude: jsonObj.Longitude,
          SubDistrict_tc: jsonObj.SubDistrict_tc,
          Street_tc: jsonObj.Street_tc,
          LPP: jsonObj.LPP,
          OccupancyDateChanged: jsonObj.OccupancyDateChanged
        })
      })
      // console.log(this.occupancyMetersCoordinates)
      this.isGMapReady = true
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    populateRegion() {
      const startTs = new Date().getTime()
      console.log('invoking populateRegion()')
      JSON.parse(ALL_REGION_JSON).forEach((jsonObj) => {
        this.regionSelectOption.push(jsonObj)
      })
      // console.log(JSON.stringify(this.regionSelectOption))
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    populateDistrict() {
      const startTs = new Date().getTime()
      console.info('invoking populateDistrict()')
      JSON.parse(ALL_DISTRICT_JSON).forEach((jsonObj) => {
        this.districtSelectOption.push(jsonObj)
      })
      // console.log(JSON.stringify(this.districtSelectOption))
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    filterDistrict() {
      const startTs = new Date().getTime()
      console.info('invoking filterDistrict()')
      // console.info(`selected region: ${this.selectedRegion}`)

      this.toggleLoading(true)

      this.selectedDistrict = ''
      this.districtSelectOption = []

      if (this.selectedRegion === '') {
        JSON.parse(ALL_DISTRICT_JSON).forEach((jsonObj) => {
          this.districtSelectOption.push(jsonObj)
        })
      } else {
        JSON.parse(ALL_DISTRICT_JSON).forEach((jsonObj) => {
          if (jsonObj.value === '' || jsonObj.region === this.selectedRegion) {
            this.districtSelectOption.push(jsonObj)
          }
        })
      }

      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
      this.filterAndShowResult()
    },
    filterAndShowResult() {
      const startTs = new Date().getTime()
      console.info('invoking filterAndShowResult()')
      // console.log(
      //   `selectedRegion: ${this.selectedRegion}, selectedDistrict: ${this.selectedDistrict}`
      // )

      // once filter changesd, it needs to reset infinite scroll variable
      this.incrmentalPage = 1
      this.incrmentalList = []

      this.filterResultList = []
      this.finalOccupancyMetersList.forEach((jsonObj) => {
        if (
          (this.selectedRegion === '' ||
            this.selectedRegion === jsonObj.Region.replace(/\s+|&+/g, '')) &&
          (this.selectedDistrict === '' ||
            this.selectedDistrict === jsonObj.District.replace(/\s+|&+/g, ''))
        ) {
          // if (
          //   jsonObj.SubDistrict_tc !== '' &&
          //   jsonObj.Street_tc !== '' &&
          //   jsonObj.SectionOfStreet_tc !== ''
          // ) {
          this.filterResultList.push({
            ParkingSpaceId: jsonObj.ParkingSpaceId,

            Region: jsonObj.Region.replace(/\s+|&+/g, ''),
            Region_tc:
              jsonObj.Region_tc !== '' ? jsonObj.Region_tc : jsonObj.Region,

            District: jsonObj.District.replace(/\s+|&+/g, ''),
            District_tc:
              jsonObj.District_tc !== ''
                ? jsonObj.District_tc
                : jsonObj.District,

            SubDistrict_tc:
              jsonObj.SubDistrict_tc !== ''
                ? jsonObj.SubDistrict_tc
                : jsonObj.SubDistrict,

            Street_tc:
              jsonObj.Street_tc !== '' ? jsonObj.Street_tc : jsonObj.Street,
            SectionOfStreet_tc:
              jsonObj.SectionOfStreet_tc !== ''
                ? jsonObj.SectionOfStreet_tc
                : jsonObj.SectionOfStreet,

            VehicleType: jsonObj.VehicleType,

            LPP: jsonObj.LPP !== '' ? jsonObj.LPP : '???',
            OccupancyDateChanged: jsonObj.OccupancyDateChanged,

            GoogleMap: `https://www.google.com/maps/dir//${jsonObj.Latitude},${jsonObj.Longitude}/@${jsonObj.Latitude},${jsonObj.Longitude},19z?hl=zh-HK`
          })
          // }
        }
      })

      this.loadMore()

      this.tableTotalRows = this.filterResultList.length
      this.toggleLoading(false)
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    loadMore() {
      const startTs = new Date().getTime()
      console.info('invoking loadMore()')

      this.busy = true
      const offset = this.getPaginationOffset()
      const tempList = this.filterResultList.slice(offset[0], offset[1])
      if (tempList.length === 0) {
        console.log('Already fetched all data into incrmentalList')
        return
      }

      tempList.forEach((jsonObj) => {
        this.incrmentalList.push(jsonObj)
      })

      this.busy = false
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
    },
    getPaginationOffset() {
      const startTs = new Date().getTime()
      console.info('invoking getPaginationOffset()')
      const start = (this.incrmentalPage - 1) * this.incrmentalItemSize
      const end = this.incrmentalPage * this.incrmentalItemSize
      console.log(`Going to fetch data from: ${start} to ${end}`)
      console.log(`method takes: ${new Date().getTime() - startTs}ms`)
      this.incrmentalPage++
      return [start, end]
    }
  }
}
</script>
